h1{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
}
img{
  max-height: 200px;
  margin: auto;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}
p{
  margin-bottom: 50px;
}
.big{
  height: 400px;
}
.blue{
  background-color: #428bca;
  border-radius: 180px;
  margin-top: 50px;
}
.container.grey{
  background-color:#f9f9f9;
}
